main {
    margin: 0 auto 5em;
    min-height: 76vh;
}

#advanced-filter-container {
    background-color: #FFFFFF;
}

.content article:hover {
    opacity: 0.5;
    cursor: pointer;
}

/** Registration */
.ddl-forms {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 30px 100px;
}

.ddl-forms header {
    margin-bottom: 20px;
}

.p-20{
    padding:20px 40px !important;
}

.content-body {
    width: 100%;
}

.general-content {
    padding: 5px;
    margin: 5px;
}

.general-content p {
    margin-bottom: 1em;
    font-size: 1rem;
    color: #333333;
}

.general-content ul {
    display: block;
    list-style-type: disc;
    margin: 0 0 10px 25px;
}

.general-content h1 {
    margin: .5em 0em .5em 0em;
}

.ck-editor__editable {
    min-height: 200px;
}

.open-phone {
    color: #007bff;
    cursor: pointer;
}

/* StoryWeaver */
.storyweaver-logo {
    width: 25px;
    height: 26px;
    vertical-align: middle;
}

.storyweaver-confirm {
    display: inline-table;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.storyweaver-confirm .disclaimer {
    font-size: 0.85rem;
    padding-top: 6px;
}

.translate {
    border-collapse: inherit;
    border-spacing: 1em;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.translate th {
    font-weight: bold;
}

.translate .translate-head {
    font-weight: bold;
}

.translate div span {
    padding: 1em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

@media only screen and (max-width: 530px) {
    .section-content a {
        width: 50%;
    }
}

@media only screen and (max-width: 760px) {
    main {
        margin: 0 auto 1em;
        min-height: 76vh;
    }

    ul.pagination > li:nth-child(n+5):nth-last-child(n+5) {
        display: none;
    }
}
