@use 'sass:color';

#main-footer {
  background-color: $primary;
  color: $white;
  padding: 2rem 0;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $secondary;
    }
  }

  .app-badge {
    height: 40px;
    width: auto;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-2px);
    }
  }


  .social-icons {
    .social-icon {
      color: $white;
      transition: color 0.3s ease;

      &:hover {
        color: $secondary;
      }
    }
  }


  .copyright-muted-text {
    $color: color.adjust($primary, $lightness: 40%)
  }
}
