.home-subject-areas .resource-count {
  font-size: 0.75rem;
  font-style: italic;
}

.home-subject-areas:hover {
  cursor: pointer;
  opacity: 0.5;
}

.home-subject-areas p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
