.home-subject-areas {
  .ph-light {
    font-size: 6rem;
  }
  .ph-fill {
    font-size: 5rem;
  }
}

#main-footer {
  .ph-light {
    font-size: 2rem;
  }
}

.resource-view {
  .ph-light, .ph-fill {
    font-size: 1.4rem;
  }
}

.resource-view {
  #resourceFavorite {
    .ph-fill {
      color: gold;
    }
  }
}

#shareModal {
  .ph-fill {
    font-size: 4rem;
  }
}
