
// Body
$body-bg: #ffffff;

// Colors
$primary: #2f6165;
$secondary: #f38c3c;

// Typography
$font-family-sans-serif: "Inter", Arial, sans-serif;
$font-family-serif: "EB Garamond", serif;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 500;

$font-size-base: 0.9rem;
$line-height-base: 1.6;
